# üéØ Aula 4 - Dados At√≠picos: Constantes e Nulos e Duplicados üéØ

Imagine que temos dados de satisfa√ß√£o dos clientes sobre o servi√ßo de consultoria de investimentos.
Os dados foram prenchidos pelos clientes no formul√°rio por email logo ap√≥s resgatarem seus investimentos.

Ao analisar os dados, voc√™ percebeu que o campo `Recomenda√ß√£o` est√° com dados 80% dos dados em branco.
Al√©m disso, o campo `numero_agencia` est√° sempre com o mesmo valor `001`.

O que isto poderia significar? Se esses dados fossem usados para analisar, por exemplo, a persona atual dos clientes, qual o impacto desses campos com valores at√≠picos para a an√°lise? 

Nesses casos de dados at√≠picos, o que poder√≠amos fazer?

## Dados Constantes

### Problem√°tica

Dados constantes em uma coluna (onde todos os valores s√£o iguais) geralmente n√£o agregam valor √† an√°lise. Eles n√£o variam e, portanto, n√£o contribuem para a diferencia√ß√£o ou correla√ß√£o com outras vari√°veis.

### Remo√ß√£o com .drop

Para remover uma coluna de um DataFrame no Python, voc√™ pode usar o m√©todo `.drop.`
Vamos trazer os dados do titanic e tirar a coluna `Name`:

In [8]:
import pandas as pd

# carregar 
df = pd.read_excel('./data/titanic.xlsx')

# Removendo a coluna constante
df.drop(columns='Name')

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,NaN,1,female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,NaN,3,male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,NaN,3,male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,NaN,3,male,NaN,1,1,2668,22.3583,NaN,C

## Dados Nulos

### Problem√°tica

Dados nulos podem ser problem√°ticos pois indicam a falta de informa√ß√£o, o que pode afetar a precis√£o dos modelos e an√°lises. Exemplos de problemas associados s√£o:

- **Distors√£o de Estat√≠sticas:** Dados nulos podem levar a c√°lculos incorretos de medidas estat√≠sticas, como m√©dia e desvio padr√£o.
- **Comprometimento de Modelos:** Em modelos de Machine Learning, dados nulos podem causar erros ou levar a resultados imprecisos.
- **Perda de Informa√ß√µes:** A exclus√£o de linhas com dados nulos pode resultar na perda de dados valiosos.

### Removendo dados nulos

Uma das poss√≠veis estrat√©gias para tratar os dados nulos √© sua completa remo√ß√£o.

#### Removendo colunas
Quando temos uma coluna com boa parte dos dados nulos, significa que n√£o conseguir√≠amos tirar insights dessas colunas. Al√©m disso, modelos de machine learning e ferramentas de visualiza√ß√£o de dados n√£o precisam utilizar esses dados. Portanto, podemos remover esses dados sem problemas.

In [15]:
# Vamo observar a porcentagem de dados nulos dos dados
df.isna().sum()/df.shape[0]*100

PassengerId     0.000000
Survived       31.932773
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            20.091673
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.076394
Cabin          77.463713
Embarked        0.152788
dtype: float64

In [ ]:
# Apagar os dados de Cabin, por ser praticamente vazio nos dados
df.drop(columns='Cabin')

#### Removendo linhas nulas

√Äs vezes algumas colunas de interese possuem vazios e fazem muita falta para compreens√£o dos dados.
Por exemplo, no campo `Survived`, que nos diz se os passageiros sobreviveram ou n√£o, n√£o temos 32% dos dados. Podemos neste caso, remover os registros vazios, j√° que n√£o sabemos se elas s√£o sobre pessoas que sobreviveram ou n√£o.

In [ ]:
# Remover registros nulos da coluna `Survived`
df.dropna(subset='Survived')

### Estrat√©gias para preenchimento de dados nulos:

Existem diversas estrat√©gias para preencher dados nulos, entre elas, pode-se citar:

1. **Preenchimento com m√©dia, mediana ou moda**
- **Aplica√ß√£o:** Recomendado para dados cont√≠nuos (m√©dia, mediana) e categ√≥ricos (moda).
- **Pr√≥s:**
  - Preserva a forma geral do conjunto de dados.
  - R√°pido e eficiente para grandes conjuntos de dados.
- **Contras:**
  - Pode ser enganoso se a distribui√ß√£o dos dados for assim√©trica ou tiver outliers significativos.
  - N√£o leva em conta a poss√≠vel correla√ß√£o entre as vari√°veis.

In [24]:
# Definir a moda dos dados
embarked_moda = df['Embarked'].mode()

# Inputar dados nulos
df['Embarked'].fillna(embarked_moda)

0       S
1       C
2       S
3       S
4       S
       ..
1304    S
1305    C
1306    S
1307    S
1308    C
Name: Embarked, Length: 1309, dtype: object

2. **Preenchimento com Valores Anteriores ou Posteriores**
- **Aplica√ß√£o:** Ideal para s√©ries temporais ou dados onde a sequ√™ncia √© importante.
- Pr√≥s:
  - Mant√©m a sequ√™ncia l√≥gica nos dados, o que √© crucial em s√©ries temporais.
- Contras:
  - Pode introduzir vi√©s se houver mudan√ßas abruptas ou tend√™ncias nos dados.

In [35]:
import numpy as np

# Series exemplo
lista_base = [0]*4+[1]
minha_series = pd.Series(lista_base*10).cumsum()
minha_series.loc[[11,12,13]] = np.nan

# observar dados faltantes
minha_series[5:15]

# preencher dados faltantes com valores anteriores ou posteriores
minha_series.fillna(method='ffill')[5:15]
minha_series.fillna(method='bfill')[5:15]

5     1.0
6     1.0
7     1.0
8     1.0
9     2.0
10    2.0
11    3.0
12    3.0
13    3.0
14    3.0
dtype: float64

3. **M√©todos de Interpola√ß√£o**
- **Aplica√ß√£o:** √ötil em s√©ries temporais ou quando os dados seguem uma tend√™ncia.
- **Pr√≥s:**
  - Oferece um m√©todo mais sofisticado e adaptativo para estimar valores nulos.
- **Contras:**
  - Pode ser complexo de implementar e entender.

In [40]:
# Series exemplo
lista_base = [0,1]
minha_series = pd.Series(lista_base*50).cumsum()
minha_series.loc[[11,12,13]] = np.nan

# observar dados faltantes
minha_series[5:15]

# preencher com dados interpolados
minha_series.interpolate(method='linear')[5:15]

5     3.0
6     3.0
7     4.0
8     4.0
9     5.0
10    5.0
11    5.5
12    6.0
13    6.5
14    7.0
dtype: float64

## Dados Inputados Errados

### Problem√°tica

Dados inseridos incorretamente podem levar a an√°lises err√¥neas. Podem ser erros tipogr√°ficos, valores fora de escala, entre outros.

### Resolu√ß√£o com .apply

A fun√ß√£o .apply do Pandas permite aplicar uma fun√ß√£o a cada elemento de uma coluna, o que pode ser usado para corrigir dados errados.

Suponha que uma coluna `Age` tenha um valores negativos, o que √© claramente um erro.<br>
Suponha tamb√©m que idades fracionadas podem ser tamb√©m arredondadas.

In [42]:
# Fun√ß√£o para corre√ß√£o
def corrigir_idade(idade):
    if idade < 0:
        return idade * -1
    else:
        return np.round(idade,0)    

# Aplicando a corre√ß√£o
df['Age'].apply(corrigir_idade)

0       22.0
1       38.0
2       26.0
3       35.0
4       35.0
        ...
1304     NaN
1305    39.0
1306    38.0
1307     NaN
1308     NaN
Name: Age, Length: 1309, dtype: float64

# Dados Duplicados

√Äs vezes acontece de termos dados duplicados no dataset, por diversos motivos, mas devemos sempre considerar se esses dados duplicados deveriam ser considerados nas nossas an√°lises ou n√£o.

Para detectarmos dados duplicados, primeiro precisamos entender o que determina um dado ser duplicado? Varia de an√°lise para an√°lise. 

Por exemplo, numa situa√ß√£o em que queiramos contar quantas ocorr√™ncias de C0V1D aconteceram num munic√≠pio. Se uma determinada pessoa ficou doente mais de uma vez, seria considerado dado duplicado?

Agora imagine a mesma situa√ß√£o, por√©m queremos contar quantas pessoas do munic√≠pio ficaram doentes. Seria considerado dado duplicado?

Vamos ent√£o verificar no dataset se h√° algum ID ou Nome igual utilizando `.duplicates` por exemplo:

In [ ]:
# procurar duplicados
df[df['Name'].duplicated(keep=False)]

Caso encontremos duplicados e queremos remover, podemos utilizar o m√©todo `drop_duplicates` (veja a documenta√ß√£o caso tenha alguma d√∫vida)

In [ ]:
# deletar duplicados
df['Name'].drop_duplicates(keep='last')

# Hands-on

1. Olhando para os dados tente encontrar dados duplicados, por exemplo, no teu caso de dados, faz sentido ter duas pessoas diferentes com a mesma idade, educa√ß√£o, salario, morando no mesmo local? <br> <br> Al√©m disso, o que voc√™ poderia considerar com dado duplicado?

2. Olhando para os dados nulos, qual ou quais as colunas que podem ser afetadas por esses tipos de dados? E qual a tua estrat√©gia para tratar esses dados nulos?


## Refer√™ncias

[Documenta√ß√£o Pandas](https://pandas.pydata.org/docs/)